PORT=4731
PM2_APP_NAME=

NUXT_API_BASE_URL=https://smmbuzzer.com
NUXT_API_ADMIN_KEY=your_api_key_here
NUXT_API_V2_KEY=your_api_key_here

# Brand / White-label: smmbuzzer | djuragan
NUXT_PUBLIC_APP_BRAND=smmbuzzer
